# Ignore Node.js dependencies
node_modules/

# Ignore build outputs
dist/
dist-ssr/
build/
.cache/
.out/
.vite/

# Ignore logs
logs/
*.log

# Ignore coverage reports
coverage/
.nyc_output/

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Husky
.husky/_/husky.sh
